{% extends 'index.html' %}
{% load static %}

{% block title %}Вход{% endblock %}

{% block links %}

<link rel="stylesheet" href="{% static 'css/form.css'%}" />

{% endblock %}

{% block content %}

<div class="form-box">
    <form class="form" action="{% url 'login' %}" method="post">
        <h1 class="title">Вход</h1>
        {% csrf_token %}
        {{form.username}}
        {{form.username.errors}}
        {{form.password}}
        {{form.password.errors}}
        {% for field, errors in form.errors.items %}
            {% if field == '__all__' %}
                {{errors}}
            {% endif %}
        {% endfor %}
        <button type="submit" class="button">Войти</button>
        <a href="{% url 'registration' %}">Регистрация</a>
    </form>
</div>

{% endblock %}